@model RomanSPA.Demo.Models.BlogPost
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header>
        <h3>@Model.Title</h3>
        <p>Posted on @Model.PostDate</p>
    </header>
    <p>@Model.BodyText</p>
</article>
