@using RomanSPA
@using RomanSPA.AngularJS
@{
    Layout = (Context.IsRomanRequest() ? null : "_Layout.cshtml");
    var str = new AngularHtmlString();
}
<section>
    @str.Tag("h2").Bind("text").ServerResponse(() => { return Html.Raw("ServerText"); })
    @* <h2 class="page-title" data-bind="text: title"></h2> *@
</section>